@import 'guide.scss';

// Main Container
.main-wrapper {
	width: 100%;
	padding: 10px;
	gap: 20px;
}

// Presentation Section
.card__title {
	font-size: $subtitle;
}
.card__description {
	font-size: $xsm-size;
}
.card__preparation-time {
	padding: 10px;
}
.list-item {
	font-size: $sm-size;
}

// Ingredients And Instruction Section
.ingredients-list-item, .instructions-list-item {
	line-height: 1.6;
}
.instructions-card {
	margin-top: 20px;
}
